*.orig
*.swp
*.o
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config*
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/gitlog_analyzer
stamp-h1
